.Container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 10px;
}
.title {
  text-align: center;
}
.book-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.select-list {
  background-color: #dfdedc;
  text-align: center;
  height: 500px;
  margin-top: 20px;
  margin-right: 5px;
}
.for-me-btn {
  background-color: black;
  color: #fff;
  padding: 10px 30px;
}
@media only screen and (max-width: 600px) {
  .Container {
    grid-template-columns: 1fr;
  }
  .book-list {
    grid-template-columns: 1fr;
  }
}
